@model ExpenseTracker.Application.ViewModels.Wallet.WalletViewModel

@{
    Layout = null;
    ViewData["Title"] = "Details";
}

<div>
    <h4 class="d-flex justify-content-center">Wallet details</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Name):
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Balance):
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Balance)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Description):
        </dt>
        <dd class="col-sm-20">
            @Html.DisplayFor(model => model.Description)
        </dd>
    </dl>
    <div class="d-flex justify-content-center">
        <form asp-action="Index">
            <button class="btn btn-secondary"
            style="width:99.49px">Close</button>
        </form>
    </div>
</div>
