@using ExpenseTracker.Application.Requests.Wallet
@inject ExpenseTracker.Application.Stores.Interfaces.IWalletStore walletStore;
@inject ExpenseTracker.Application.Services.Interfaces.ICurrentUserService currentUserService;

@{
    var request = new GetWalletsRequest(currentUserService.GetCurrentUserId(), string.Empty);
    var isDashboard = ViewData["isDashboard"] == null
        ? false
        : (bool)(ViewData["isDashboard"]);
}

<!DOCTYPE html>
<html lang="en" >
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ExpenseTracker</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/ExpenseTracker.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;700&display=swap">
    <link rel="stylesheet" href="~/font-awesome/css/all.css">
    <link rel="stylesheet" href="https://cdn.syncfusion.com/ej2/20.1.55/bootstrap5-dark.css" />
    <link href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet">
    <script src="https://cdn.syncfusion.com/ej2/26.2.4/dist/ej2.min.js"></script>
</head>
<body class="e-bigger">
    <partial name="_Sidebar" />

    <div class="dock-target">
        <nav class="navbar sticky-top">
            <div class="container-fluid py-2 px-4">
                <div class="search-container">
                    <input type="text" name="search" placeholder="Search..." class="search-input">
                    <a href="#" class="search-btn">
                        <i class="fa-solid fa-magnifying-glass"></i>
                    </a>
                </div>
                <div>
                    @if (isDashboard)
                    {
                        <select class="navigation" name="wallets" id="wallets">
                            @foreach (var wallet in walletStore.GetAll(request))
                            {
                                <option value="@wallet.Id">@wallet.Name</option>
                            }
                        </select>
                    }
                    <i class="fa-solid fa-bell"></i>
                    <i class="fa-solid fa-message"></i>
                    <img class="profile-pic" src="~/profile.jpg" />
                </div>
            </div>
        </nav>

        <div class="main-content">
            <div class="container mt-5 mb-5">
                <div class="row justify-content-center">
                    <div class="@(ViewData["isDashboard"] == null ? "col-md-10" : "col-md-12")">
                        <main role="main" class="pb-3">
                            @RenderBody()
                        </main>
                    </div>
                </div>
            </div>
        </div>
    </div>
   
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <ejs-scripts></ejs-scripts>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
